.container {
  max-width: 36rem;
  padding: 1rem 1rem;
  margin: 1.5rem auto 2rem;
  }

.buttonContainer {
  padding: 1rem 1rem;
  margin: 1rem auto 1rem;
  border: 1px solid #303030;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.buttonContent {
  margin: 1rem auto 1rem;
}

.pictureContainer {
  margin: 1rem auto 1rem;
}

.pictureContainer img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.smallButton {
  display: inline-block;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}